@charset "UTF-8";

.payNumTable{width:88%; margin:0 auto; padding-bottom:20px; background-color:#FFF; table-layout:fixed; text-align:center; font-size:18px;}
.payNumTable .list_hd{background:url('../images/subtitbg.png') repeat-x; background-size:1px 100%; text-shadow:0 0 3px #c5c5c5;}
.payNumTable .checkList{height:215px; overflow:hidden;}
.payNumTable p{float:left; height:30px; line-height: 30px; padding:6px 0;}
.payNumTable .payItem{border-bottom:1px solid #e9e9e9;}
.payNumTable .payNum{width:63%; border-right:1px solid #e9e9e9;}
.payNumTable .payMoney{width:36%; font-size:17px;}
.payNumTable .checkBoxLine:nth-child(odd){background-color:#EFF0F2;}

#channelList .checkBoxLine{text-align:left; height:30px; line-height: 30px; padding:6px 30px;}
#channelList .checkBoxLine:nth-child(odd){background-color:#EFF0F2;}

.nextBtn{width:88%; margin:0 auto;}

/* 分页 */
.pageNum{position: absolute; z-index:1000; left:14%; margin-top:-45px;}
.pageNum a{float:left; text-indent: -999em; width:50px; height:50px; background:url('../images/pagebtn.png') no-repeat; background-size: 200% 100%; margin-right:15px;}
.pageNum a.prevPage{background-position: 0 0;}
.pageNum a.nextPage{background-position: -50px 0;}
.pageNum a.btn_disabled{opacity:.5; filter:alpha(opacity=50);}
.pageNum a:active{opacity: .8; filter: alpha(opacity=80);}
